<h1>Hello {{first_name}},



    We wanted to let you know that Dream Success helps you to grow you up by helping chusing Career.
    
    
    If you perform this action, you can go through webside for your fourther future https://github.com/bishalprp
    
    
    To see this and other security events for your account, visit https://www.facebook.com/head.breaker.984
    
    
    
    If you have anyproblem run into problems, please contact support by visiting https://www.youtube.com/
    
    
    Thank You For visiting....
    
    date : {{date}}</h1>