{% extends "base.html" %}

{% block ecucation %}

<h1>
    Examination
Edusanjal incorporates details of most of the examination notices and updates through the official channels. Most of these updates can be accessed through the News section, where details on school-level, college-level, and university-level examinations are made available timely.
How can I know my entrance exam date?
How to check the exam results?
How do I know my exam center?
How to fill the exam form online?
Where can I find the exam form?
Admissions
Edusanjal through its admissions section on the official website and via multiple social media platforms has been ensuring coverage of all essential admission notices. It incorporates admission notices from educational institutions all around the country.
Where can I find details related to the admissions?
How can I submit the admission form online?
How can I enroll in the specific program? What is the admission process?
What are the eligibility criteria for CMAT exams?
Eligibility Criteria
Along with details of all degree and non-degree programs, Edusanjal also incorporates all the essential information regarding the particular program. Eligibility criteria for academic programs as well as national international tests and scholarship programs are covered by the education portal.
What are the eligibility criteria for any specific program?
Fee Structure
Edusanjal incorporates the fee structure of School/College/University-specific degree/non-degree programs along with Academic program-specific fee structure.
Where can we find the course-specific fee details?
Where can we find the college-specific fees details of programs?
What is the fee structure of programs offered by Kathmandu University?
What is the fee structure of programs offered by Purbanchal University?
What is the fee structure of the programs offered by Pokhara University?
    Tribhuvan University
How to Apply for the transcript of Tribhuvan University?
How to apply for Original Certificate from Tribhuvan University (TU)?
How can I take out my transcript from Tribhuvan University (TU) after losing it?
How to get the equivalency certificate from Tribhuvan University (TU)? What is the online processing for the same?
What is the process for retotaling in Tribhuvan University (TU)?
How to know whether any Indian University is recognized by Tribhuvan University?
How to Apply for an Equivalence Certificate for Indian Students?
    Kathmandu University
What is the fee structure of programs offered by Kathmandu University?
Purbanchal University
What is the fee structure of programs offered by Purbanchal University?
</h1>

{% endblock ecucation %}