{% extends "base.html" %}

{% block education %}
<h1>

Privacy Policy
July 15, 2021
· Last updated October 24, 2021
220
Shares
facebook sharing buttonmessenger sharing buttonsharethis sharing button
Edu Sanjal Pvt Ltd respects privacy of its users and customers. This document dictates the policies Edu Sanjal Pvt Ltd practices for users of the Edusanjal’s website accessible at https://edusanjal.com, its subdomains, and mobile applications.

Collection and Usage of Information
Edusanjal asks for personal information like name, email address, phone numbers only when it is truly needed to deliver a service to its users. The information is collected by fair and lawful means, and only from the knowledge and consent of the users.

Edusanjal utilizes third-party analytical tools unobtrusively to assess how users access and utilize our websites and mobile applications. The collected information is only used internally to improve the functionality of our products and also enhance the user experience. Edusanjal may also use third-party advertising partners to display ads in some components of our website. These advertisement networks may utilize cookies and web beacons to collect information to measure their effectiveness and other analytical purposes. Please note that Edusanjal does not control these third-party analytical and advertisement tools. However, Edusanjal only utilizes and partners with reputed and commercially acceptable networks and companies for such purposes.

Edusanjal's products also make use of cookies to store login and other session related information.

The collected information is retained only as long as it is needed. The stored information is secured with commercially acceptable means to prevent loss, theft, unauthorized access, or disclosure.

Edusanjal’s products may link to external sites. These sites may not be operated by us and we have no control over their content or practices. Therefore, we do not accept any liability or responsibility of linked content and applications.

Deletion and Refusal of Information
We respect your privacy and handle your information with care.However, should you need or want to delete your existing information stored at Edusanjal’s products or services, please write to us at info@edusanjal.com.

You also have the option to deny our request for personal information, but you should be aware that we may be unable to provide you with some of the services you desire.

You can also disable cookie functionality from your browser to refuse the memorization of your browsing session. Please note, however, that certain features of our products including user-login may be unavailable if you disable or remove the cookies.

Acceptance of Privacy Policy
Continued use of our website will be seen as acceptance of our privacy and personal information practices. Please contact us if you have any issues regarding how we manage user data and personal information. We might make changes to this privacy policy document time-to-time and we recommend you to periodically visit this location for any updates.
</h1>
  
{% endblock education %}